*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

/*******************
Navbar
***************/
nav{
    height: 10vh;
    width: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 20px 0px #0007;
    text-align: center;
}
.container, .title{
    background-color: unset;
}

.title{
    text-decoration: none;
    font-weight: 1000;
    text-align: center;
    height: 100%;
    
}
.title:checked{
    color: black;
}
/*******************
Main elements
***************/
main{
    box-sizing: border-box;
    padding-top: 100px;
    height: 90vh;
    width: 100%;
    /**
    *Animated background src: https://codepen.io/alvarotrigo/pen/dyzgOER
    */
    background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}
@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
/*End of the css animated background code*/

/*******************
Main elements -> Grid and cards inside body
***************/
.grid{
    height: 500px;
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.card1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}
.card1 a{
    background-color: unset;
    width: 33%;
    padding: 10px 0;
    background-color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    border-radius: 5px;
    color: white;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 20px 0px #0004;
}

.card1 a:hover{
    color:rgb(241, 241, 241);
    letter-spacing: 1px;
}
.card2{
    width: 100%;
    display: flex;
}
.card2 a{
    background-color: unset;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    border-radius: 5px;
    color: white;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 20px 0px #0004;
}
.card2 a:hover{
    color:rgb(59, 59, 59);
    letter-spacing: 1px;
}
/*******************
Footer
***************/
footer{
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(163,154,1,0) 87%);
    position: absolute;
    z-index: 20;
}
footer p{
    font-size: 15px;
    color: white;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    font-family: Arial, Helvetica, sans-serif   ;
}
footer a{
    font-size: 30px;
    color: white;
}
/*******************
Media queries
***************/
@media(max-width: 880px){
    .grid{
        width: 50%;
        gap: 10px;
    }
    .card1{
        gap: 15px;
    }
}

@media(max-width: 790px){
    nav{
        height: 17vh;
    }
    main{
        height: 83vh;
    }
}

@media(max-width: 660px){
    .grid{
        width: 65%;
    }
}

@media(max-width: 500){
    .grid{
        width: 75%;
    }
}